.Song-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}

.song-card-button {
    font-size: 15px;
    height: auto;
    border-radius: 10px;
    /* padding: 10px; */
}